:root {
  --primary-text-color: #757575; /* цвет вторичного текста */
  --title-text-color: #212121; /* вторичнй цвет бренда  (и текста) */
  --accent-color: #2196f3; /* основной цвет бренда */
  --black-color: #000000; /* Черный цвет на сайте */
  --bgd-color: #2f303a; /* цвет фона */
  --white-color: #ffffff; /* белый цвет на сайте */
  --transparent-white-color: rgba(255, 255, 255, 0.6); /* цвет текста в футере (с прозрачностью */
  --team-bgd-color: #f5f4fa; /* цвет фона на секциях */
  --border-color-cards: #eeeeee; /* Цвет рамок карточек*/
  --border-color-main: #ececec; /* цвет основных рамок */
  --active-button-background: #188ce8; /* цвет активности главной кнопки */
  --primary-icon-color: #afb1b8; /* Цвет контуров иконок */

  --transition-timing: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*   outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style-type: none;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}

.button {
  font-family: Roboto, sans-serif;
  cursor: pointer;
}
.hero__button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 216px;
  padding: 10px 32px;
  max-height: 50px;
  border: none;
  border-radius: 4px;
}
.portfolio__button {
  background-color: var(--team-bgd-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  max-height: 38px;
  border: transparent;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__link,
.header__link,
.adress-thumb__mail,
.adress-thumb__tel,
.adress-thumb__map,
.contact__link {
  transition: color var(--transition-timing) var(--cubic);
}

.hero__button {
  transition: background-color var(--transition-timing) var(--cubic);
}

.team-social__link,
.join-thumb__link {
  transition: color var(--transition-timing) var(--cubic),
    background-color var(--transition-timing) var(--cubic);
}

.clients__link {
  transition: color var(--transition-timing) var(--cubic),
    border-color var(--transition-timing) var(--cubic);
}

.portfolio__button {
  transition: color var(--transition-timing) var(--cubic),
    background-color var(--transition-timing) var(--cubic),
    box-shadow var(--transition-timing) var(--cubic);
}

.product__link {
  transition: box-shadow var(--transition-timing) var(--cubic);
}

/* ----------------------HEADER----------------------- */

.header {
  border-bottom: 1px solid #ececec;
}
.header__block {
  display: flex;
}
.header__navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: Raleway, normal;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__text {
  color: var(--black-color);
}
.header__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
}
.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  display: block;

  left: 0;
  bottom: 0px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.header__link:hover,
.header__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__icon:hover,
.contact__icon:focus {
  fill: var(--accent-color);
}

/* --------------------HERO------------------------ */
.hero {
  background-color: var(--bgd-color);
  text-align: center;
  padding: 200px 0px;

  max-width: 1600px;
  height: 600px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--active-button-background);
}

/* ---------------------FEATURES----------------------- */

.feature__list {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  flex-basis: calc(100% / 4 - 30px);
  min-width: 270px;
}
.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-bgd-color);
}

.feature__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature__text {
  line-height: 1.71;
}

/* ----------------------OUR WORK---------------------------- */
.work {
  padding-bottom: 94px;
  padding-top: 0px;
}

.work__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
}

.work__list > .work__item {
  flex-basis: calc(100% / 3 -30px);
}

.work__list > .work__item:not(:last-child) {
  margin-right: 30px;
}

.work__img {
  position: relative;
}

.work__inform {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* -----------------------------OUR TEAM---------------------------------- */

.team {
  background-color: var(--team-bgd-color);
  padding: 90px 0px;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list > .team__item {
  flex-basis: calc(100% / 4-30px);
}

.team__list > .team__item:not(:last-child) {
  margin-right: 30px;
}

.team__discr {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 10px;
  text-align: center;
}

.team-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.team-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  color: var(--primary-icon-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.team-social__icon {
  fill: currentColor;
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* ----------------------------------OUR CLIENTS------------------------ */
.clients {
}

.clients__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: var(--primary-icon-color);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* ----------------------------------FOOTER----------------------------- */

.footer {
  background-color: var(--bgd-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-thumb {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  margin-bottom: 20px;
}

.adress-thumb .logo__text {
  color: var(--white-color);
}

.adress-thumb__list > .item {
  display: block;
  margin-bottom: 9px;
  margin-top: 0px;
  max-height: 21px;
  /*  outline: 4px solid blueviolet; */
}
.adress-thumb__list > .adress-thumb__item:last-child {
  margin-bottom: 0px;
}

.adress-thumb__map {
  font-style: normal;
  color: var(--white-color);
  text-decoration: none;
  line-height: 1.71;
}

.adress-thumb__mail,
.adress-thumb__tel {
  font-style: normal;
  color: var(--transparent-white-color);
  text-decoration: none;
  line-height: 1.71;
}

.adress-thumb__map:hover,
.adress-thumb__map:focus,
.adress-thumb__mail:hover,
.adress-thumb__mail:focus,
.adress-thumb__tel:hover,
.adress-thumb__tel:focus {
  color: var(--accent-color);
}

.join-thumb {
  align-items: baseline;
  margin-left: 70px;
}

.join-thumb__tittle,
.mail-thumb__tittle {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-thumb__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.join-thumb__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);

  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.join-thumb__icon {
  fill: currentColor;
}

.join-thumb__link:hover,
.join-thumb__link:focus {
  background: var(--accent-color);
}

.mail-thumb {
  margin-left: auto;
}
.subscribe-form {
  display: flex;
  margin-top: 20px;
}

.subscribe-form__input {
  width: 358px;
  padding: 16px 15px;

  background-color: var(--bgd-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--white-color);
}

.subscribe-form__button {
  margin-left: 12px;
  padding: 13px 28px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  max-height: 50px;
  border: none;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--transition-timing) var(--cubic);
}

.subscribe-form__button:hover,
.subscribe-form__button:focus {
  background-color: var(--active-button-background);
}

.subscribe-form__img {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-color);
}

/* ------------------------------------------------------------------------- */
/* ---------------------------------PORTFOLIO------------------------------- */
/* ------------------------------------------------------------------------- */

.portfolio {
  margin-right: auto;
  margin-left: auto;
}

.portfolio__filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio__filter-item {
  display: block;
  margin-right: 8px;
}

.portfolio__filter-item:last-child {
  margin-right: 0;
}

.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product__list {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  display: inline-block;
  flex-basis: calc(100% / 3-30px);
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.product__item:nth-child(3n) {
  margin-right: 0;
}
.product__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product__discr {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color-cards);
  border-right: 1px solid var(--border-color-cards);
  border-left: 1px solid var(--border-color-cards);
}

.product__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.product__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.product__link {
  display: block;
}

.product__img-block {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding: 63px 24px;
  align-items: center;

  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: transform var(--transition-timing) var(--cubic);
}

.product__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.product__link:hover,
.product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__link:hover .product__overlay {
  transform: translateY(0);
}

/* ------------------------modal-------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity var(--transition-timing) var(--cubic),
    visibility var(--transition-timing) var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-timing) var(--cubic);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition-timing) var(--cubic);
}
.modal__button:hover {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__tittle {
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}
.modal-form__field {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__input {
  width: 100%;
  margin-top: 4px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-timing) var(--cubic);
}

.modal-form__area {
  margin-top: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-timing) var(--cubic);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  transition: fill var(--transition-timing) var(--cubic);
}

.modal-form__field:focus-within > .modal-form__input,
.modal-form__field:hover > .modal-form__input {
  border-color: var(--accent-color);
}
.modal-form__input:focus-within + .modal-form__icon,
.modal-form__input:hover + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__area:focus-within,
.modal-form__area:hover {
  border-color: var(--accent-color);
}

.modal-form__check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: transform var(--transition-timing) var(--cubic);
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8.35px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/full_checked.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__policy {
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-timing) var(--cubic);
}

.modal-form__button:hover,
.modal-form__button:focus {
  background-color: var(--active-button-background);
}
